html{
    background-color: lightcoral;
}
.container-fluid{
    background-color:  lightcoral;
    width:100%
}
input[type="text"]{
    background: transparent;
    color: gainsboro;
}
input[type="text"]:focus{
    background: transparent;
    color: gainsboro;
}
